:root {
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --desatured-dark-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --light-grayish-blue: hsl(210, 46%, 95%);

  --ff: "Manrope", sans-serif;
  --body-fs: 0.8125rem;
  --fw-500: 500;
  --fw-700: 700;
}

/* General reset */
*,
*::before,
*::after {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

/* Custom styling */
body {
  font-family: var(--ff);
  min-height: 100vh;
  min-height: 100dvh; /* Fallback */
  background-color: var(--light-grayish-blue);
  display: grid;
  grid-template-rows: 1fr auto;
  font-size: var(--body-fs);
  line-height: 1.6;
}

main {
  display: grid;
}

.blog-article-card {
  background-color: hsl(0, 0%, 100%);
  inline-size: min(calc(100% - 2rem), 800px);
  margin-inline: auto;
  align-self: center;
  border-radius: 8px;
  overflow: hidden;
  font-weight: var(--fw-500);
}

.article-content-wrapper {
  padding-inline: 2rem;
  padding-block-start: 2rem;

  h1 {
    color: var(--very-dark-grayish-blue);
  }

  p {
    margin-top: 1rem;
    color: var(--desatured-dark-blue);
  }
}

.attribution {
  font-size: 0.6875rem;
  text-align: center;

  a {
    color: hsl(228, 45%, 44%);
  }
}
