:root {
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --desatured-dark-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --light-grayish-blue: hsl(210, 46%, 95%);
  --white: hsl(0, 0%, 100%);

  --ff: "Manrope", sans-serif;
  --body-fs: 0.8125rem;
  --fw-500: 500;
  --fw-700: 700;
}

/* General reset */
*,
*::before,
*::after {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

/* Custom styling */
body {
  font-family: var(--ff);
  min-height: 100vh;
  min-height: 100dvh; /* Fallback */
  background-color: var(--light-grayish-blue);
  display: grid;
  grid-template-rows: 1fr auto;
  line-height: 1.6;
}

.blog-article-card {
  font-size: var(--body-fs);
  background-color: var(--white);
  inline-size: min(calc(100% - 2rem), 800px);
  margin-inline: auto;
  border-radius: 8px;
  overflow: hidden;
  font-weight: var(--fw-500);
}

.article-content-wrapper {
  padding: 2rem;

  h1 {
    color: var(--very-dark-grayish-blue);
  }

  > p {
    margin-top: 1rem;
    color: var(--desatured-dark-blue);
  }
}

.article-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;

  .author-info-wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--desatured-dark-blue);

    img {
      border-radius: 100%;
    }

    .author {
      font-weight: var(--fw-700);
      color: var(--very-dark-grayish-blue);
    }
  }

  button {
    border: none;
    background-color: var(--light-grayish-blue);
    padding: 0.5rem;
    border-radius: 100%;
    cursor: pointer;
  }
}

.attribution {
  font-size: 0.6875rem;
  text-align: center;

  a {
    color: hsl(228, 45%, 44%);
  }
}
