:root {
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --desatured-dark-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --light-grayish-blue: hsl(210, 46%, 95%);
  --white: hsl(0, 0%, 100%);

  --ff: "Manrope", sans-serif;
  --body-fs: 0.8125rem;
  --fw-500: 500;
  --fw-700: 700;
}

/* General reset */
*,
*::before,
*::after {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

/* Custom styling */
body {
  font-family: var(--ff);
  min-height: 100vh;
  min-height: 100dvh; /* Fallback */
  background-color: var(--light-grayish-blue);
  display: grid;
  place-content: center;
  row-gap: 2rem;
  line-height: 1.6;
}

.blog-article-card {
  --_max-inline-size: 400px;
  --_box-shadow: 0px 30px 31px -26px var(--grayish-blue);

  font-size: var(--body-fs);
  background-color: var(--white);
  max-inline-size: min(100% - 2.5rem, var(--_max-inline-size));
  margin-inline: auto;
  border-radius: 8px;
  font-weight: var(--fw-500);
  -webkit-box-shadow: var(--_box-shadow);
  -moz-box-shadow: var(--_box-shadow);
  box-shadow: var(--_box-shadow);

  @media screen and (min-width: 995px) {
    --_max-inline-size: 800px;
    --_box-shadow: 29px 23px 49px -33px var(--grayish-blue); 
    display: flex;
  }
}

.top-article-image {
  inline-size: 100%;
  object-fit: cover;
  height: 200px;
  border-radius: 8px 8px 0 0;

  @media screen and (min-width: 995px) {
    height: auto;
    border-radius: 8px 0 0 8px;
  }
}

.article-content {
  padding: 2rem 2rem 0;

  > h1 {
    color: var(--very-dark-grayish-blue);
  }

  > p {
    margin-top: 1rem;
    color: var(--desatured-dark-blue);
  }
}

.article-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  padding: 1rem 2rem;
  position: relative;

  .author-info-wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--desatured-dark-blue);

    img {
      border-radius: 100%;
    }

    .author {
      font-weight: var(--fw-700);
      color: var(--very-dark-grayish-blue);
    }
  }

  button {
    border: none;
    background-color: var(--light-grayish-blue);
    padding: 0.5rem;
    border-radius: 100%;
    cursor: pointer;
    z-index: 1;

    &[aria-expanded="true"] {
      background-color: var(--desatured-dark-blue);
      path {
        fill: var(--white);
      }
    }
  }
}

.cta-popup {
  background-color: var(--very-dark-grayish-blue);
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  padding: inherit;
  text-transform: uppercase;
  color: var(--grayish-blue);
  letter-spacing: 0.5rem;
  border-radius: 0 0 8px 8px;
  scale: 0;

  &.open {
    scale: 1;
  }

  @media screen and (min-width: 995px) {
    inset: -3.75rem -5rem auto auto;
    border-radius: 8px;
    justify-content: center;
    -webkit-box-shadow: 0px 23px 49px -14px var(--grayish-blue);
    -moz-box-shadow: 0px 23px 49px -14px var(--grayish-blue);
    box-shadow: 0px 23px 49px -14px var(--grayish-blue);
  }

  .links-wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .arrow-down {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid var(--very-dark-grayish-blue);
    position: absolute;
    bottom: -0.625rem;
    display: none;

    @media screen and (min-width: 995px) {
      display: block;
    }
  }
}

.attribution {
  font-size: 0.6875rem;
  text-align: center;

  a {
    color: hsl(228, 45%, 44%);
  }
}
